<!doctype html>
<html>
  <head>
    <title>Railroad Inc. AI</title>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚂</text></svg>"
    />
    <link rel="stylesheet" href="/styles/tailwind.output.css" />
    <script src="https://unpkg.com/htmx.org@1.9.10/dist/htmx.js"></script>
  </head>
  <body class="flex flex-row flex-wrap">
      <svg
        viewBox="0 0 8 8"
        stroke="black"
        stroke-width="0.01"
        class="grow max-h-[80vh]"
      >
        {% include "exits.html" %}
        {% include "grid-lines.html" %}
        {% include "defs.html" %}
        <g id="drawn-routes">
          <use
            href="#route-0"
            stroke-width="1"
            transform="
        translate(0,1),
        rotate(0, 0.5, 0.5),
        scale(0.0125)
      "
          ></use>
          <use
            href="#route-3"
            stroke-width="1"
            transform="
        translate(0,3),
        rotate(0, 0.5, 0.5),
        scale(0.0125)
      "
          >
        </g>
      </svg>
      <div class="flex flex-col items-center">
        <div class="grid grid-cols-2 gap-4">
          <button class="p-2 rounded-lg bg-green-200">Roll Dice</button>
          <div class="flex justify-center items-center">Round 1</div>
        </div>
      </div>
  </body>
</html>
