<!doctype html>
<html>
  <head>
    <title>Railroad Inc. AI</title>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚂</text></svg>">
  </head>
  <body>
    <div id="__next">
      <div
        class="h-full overflow-y-scroll font-mono flex flex-wrap justify-around items-start"
      >
        <svg
          class="shrink-0 max-w-[700px]"
          viewBox="-0.5 -0.5 8 8"
          stroke="black"
          stroke-width="0.01"
        >
          <g id="exits" stroke-width="1">
            <g
              transform="
                translate(1, -1),
                rotate(180, 0.5, 0.5),
                scale(0.0125)
            "
            >
              <g transform="rotate(0,40,40)">
                <line y1="0" y2="35" x1="35" x2="35"></line>
                <line y1="0" y2="35" x1="45" x2="45"></line>
                <line
                  y1="0"
                  y2="35"
                  x1="40"
                  x2="40"
                  stroke-dasharray="5,7"
                ></line>
              </g>
            </g>
            <g
              transform="
                translate(3, -1),
                rotate(180, 0.5, 0.5),
                scale(0.0125)
            "
            >
              <g transform="rotate(0,40,40)">
                <line y1="0" y2="40" x1="40" x2="40"></line>
                <line
                  x1="35"
                  x2="45"
                  y1="5.714285714285714"
                  y2="5.714285714285714"
                ></line>
                <line
                  x1="35"
                  x2="45"
                  y1="17.142857142857142"
                  y2="17.142857142857142"
                ></line>
                <line
                  x1="35"
                  x2="45"
                  y1="28.571428571428573"
                  y2="28.571428571428573"
                ></line>
              </g>
            </g>
            <g
              transform="
                translate(5, -1),
                rotate(180, 0.5, 0.5),
                scale(0.0125)
            "
            >
              <g transform="rotate(0,40,40)">
                <line y1="0" y2="35" x1="35" x2="35"></line>
                <line y1="0" y2="35" x1="45" x2="45"></line>
                <line
                  y1="0"
                  y2="35"
                  x1="40"
                  x2="40"
                  stroke-dasharray="5,7"
                ></line>
              </g>
            </g>
            <g
              transform="
                translate(1, 7),
                rotate(0, 0.5, 0.5),
                scale(0.0125)
            "
            >
              <g transform="rotate(0,40,40)">
                <line y1="0" y2="35" x1="35" x2="35"></line>
                <line y1="0" y2="35" x1="45" x2="45"></line>
                <line
                  y1="0"
                  y2="35"
                  x1="40"
                  x2="40"
                  stroke-dasharray="5,7"
                ></line>
              </g>
            </g>
            <g
              transform="
                translate(3, 7),
                rotate(0, 0.5, 0.5),
                scale(0.0125)
            "
            >
              <g transform="rotate(0,40,40)">
                <line y1="0" y2="40" x1="40" x2="40"></line>
                <line
                  x1="35"
                  x2="45"
                  y1="5.714285714285714"
                  y2="5.714285714285714"
                ></line>
                <line
                  x1="35"
                  x2="45"
                  y1="17.142857142857142"
                  y2="17.142857142857142"
                ></line>
                <line
                  x1="35"
                  x2="45"
                  y1="28.571428571428573"
                  y2="28.571428571428573"
                ></line>
              </g>
            </g>
            <g
              transform="
                translate(5, 7),
                rotate(0, 0.5, 0.5),
                scale(0.0125)
            "
            >
              <g transform="rotate(0,40,40)">
                <line y1="0" y2="35" x1="35" x2="35"></line>
                <line y1="0" y2="35" x1="45" x2="45"></line>
                <line
                  y1="0"
                  y2="35"
                  x1="40"
                  x2="40"
                  stroke-dasharray="5,7"
                ></line>
              </g>
            </g>
            <g
              transform="
                translate(7, 1),
                rotate(270, 0.5, 0.5),
                scale(0.0125)
            "
            >
              <g transform="rotate(0,40,40)">
                <line y1="0" y2="40" x1="40" x2="40"></line>
                <line
                  x1="35"
                  x2="45"
                  y1="5.714285714285714"
                  y2="5.714285714285714"
                ></line>
                <line
                  x1="35"
                  x2="45"
                  y1="17.142857142857142"
                  y2="17.142857142857142"
                ></line>
                <line
                  x1="35"
                  x2="45"
                  y1="28.571428571428573"
                  y2="28.571428571428573"
                ></line>
              </g>
            </g>
            <g
              transform="
                translate(7, 3),
                rotate(270, 0.5, 0.5),
                scale(0.0125)
            "
            >
              <g transform="rotate(0,40,40)">
                <line y1="0" y2="35" x1="35" x2="35"></line>
                <line y1="0" y2="35" x1="45" x2="45"></line>
                <line
                  y1="0"
                  y2="35"
                  x1="40"
                  x2="40"
                  stroke-dasharray="5,7"
                ></line>
              </g>
            </g>
            <g
              transform="
                translate(7, 5),
                rotate(270, 0.5, 0.5),
                scale(0.0125)
            "
            >
              <g transform="rotate(0,40,40)">
                <line y1="0" y2="40" x1="40" x2="40"></line>
                <line
                  x1="35"
                  x2="45"
                  y1="5.714285714285714"
                  y2="5.714285714285714"
                ></line>
                <line
                  x1="35"
                  x2="45"
                  y1="17.142857142857142"
                  y2="17.142857142857142"
                ></line>
                <line
                  x1="35"
                  x2="45"
                  y1="28.571428571428573"
                  y2="28.571428571428573"
                ></line>
              </g>
            </g>
            <g
              transform="
                translate(-1, 1),
                rotate(90, 0.5, 0.5),
                scale(0.0125)
            "
            >
              <g transform="rotate(0,40,40)">
                <line y1="0" y2="40" x1="40" x2="40"></line>
                <line
                  x1="35"
                  x2="45"
                  y1="5.714285714285714"
                  y2="5.714285714285714"
                ></line>
                <line
                  x1="35"
                  x2="45"
                  y1="17.142857142857142"
                  y2="17.142857142857142"
                ></line>
                <line
                  x1="35"
                  x2="45"
                  y1="28.571428571428573"
                  y2="28.571428571428573"
                ></line>
              </g>
            </g>
            <g
              transform="
                translate(-1, 3),
                rotate(90, 0.5, 0.5),
                scale(0.0125)
            "
            >
              <g transform="rotate(0,40,40)">
                <line y1="0" y2="35" x1="35" x2="35"></line>
                <line y1="0" y2="35" x1="45" x2="45"></line>
                <line
                  y1="0"
                  y2="35"
                  x1="40"
                  x2="40"
                  stroke-dasharray="5,7"
                ></line>
              </g>
            </g>
            <g
              transform="
                translate(-1, 5),
                rotate(90, 0.5, 0.5),
                scale(0.0125)
            "
            >
              <g transform="rotate(0,40,40)">
                <line y1="0" y2="40" x1="40" x2="40"></line>
                <line
                  x1="35"
                  x2="45"
                  y1="5.714285714285714"
                  y2="5.714285714285714"
                ></line>
                <line
                  x1="35"
                  x2="45"
                  y1="17.142857142857142"
                  y2="17.142857142857142"
                ></line>
                <line
                  x1="35"
                  x2="45"
                  y1="28.571428571428573"
                  y2="28.571428571428573"
                ></line>
              </g>
            </g>
          </g>
          <g id="grid-lines">
            <line x1="0" x2="7" y1="0" y2="0"></line>
            <line x1="0" x2="7" y1="1" y2="1"></line>
            <line x1="0" x2="7" y1="2" y2="2"></line>
            <line x1="0" x2="7" y1="3" y2="3"></line>
            <line x1="0" x2="7" y1="4" y2="4"></line>
            <line x1="0" x2="7" y1="5" y2="5"></line>
            <line x1="0" x2="7" y1="6" y2="6"></line>
            <line x1="0" x2="7" y1="7" y2="7"></line>
            <line y1="0" y2="7" x1="0" x2="0"></line>
            <line y1="0" y2="7" x1="1" x2="1"></line>
            <line y1="0" y2="7" x1="2" x2="2"></line>
            <line y1="0" y2="7" x1="3" x2="3"></line>
            <line y1="0" y2="7" x1="4" x2="4"></line>
            <line y1="0" y2="7" x1="5" x2="5"></line>
            <line y1="0" y2="7" x1="6" x2="6"></line>
            <line y1="0" y2="7" x1="7" x2="7"></line>
          </g>
          <defs>
            // as listed on the player boards in order from left to right:
            <g id="route-0">
              <polyline points="0,40 35,40 40,35 40,0" fill="none"></polyline>
              <line x1="33.5" x2="41.5" y1="33.5" y2="41.5"></line>
              <line
                x1="35"
                x2="45"
                y1="5.714285714285714"
                y2="5.714285714285714"
              ></line>
              <line
                x1="35"
                x2="45"
                y1="17.142857142857142"
                y2="17.142857142857142"
              ></line>
              <line
                x1="35"
                x2="45"
                y1="28.571428571428573"
                y2="28.571428571428573"
              ></line>
              <line
                y1="35"
                y2="45"
                x1="5.714285714285714"
                x2="5.714285714285714"
              ></line>
              <line
                y1="35"
                y2="45"
                x1="17.142857142857142"
                x2="17.142857142857142"
              ></line>
              <line
                y1="35"
                y2="45"
                x1="28.571428571428573"
                x2="28.571428571428573"
              ></line>
            </g>
            <g id="route-1">
              <line x1="0" x2="80" y1="40" y2="40"></line>
              <line x1="40" x2="40" y1="0" y2="40"></line>
              <line x1="36" x2="44" y1="36" y2="44"></line>
              <line x1="36" x2="44" y1="44" y2="36"></line>
              <line
                x1="35"
                x2="45"
                y1="5.714285714285714"
                y2="5.714285714285714"
              ></line>
              <line
                x1="35"
                x2="45"
                y1="17.142857142857142"
                y2="17.142857142857142"
              ></line>
              <line
                x1="35"
                x2="45"
                y1="28.571428571428573"
                y2="28.571428571428573"
              ></line>
              <line
                y1="35"
                y2="45"
                x1="5.714285714285714"
                x2="5.714285714285714"
              ></line>
              <line
                y1="35"
                y2="45"
                x1="17.142857142857142"
                x2="17.142857142857142"
              ></line>
              <line
                y1="35"
                y2="45"
                x1="28.571428571428573"
                x2="28.571428571428573"
              ></line>
              <line
                y1="35"
                y2="45"
                x1="51.42857142857143"
                x2="51.42857142857143"
              ></line>
              <line
                y1="35"
                y2="45"
                x1="62.857142857142854"
                x2="62.857142857142854"
              ></line>
              <line
                y1="35"
                y2="45"
                x1="74.28571428571429"
                x2="74.28571428571429"
              ></line>
            </g>
            <g id="route-2">
              <line y1="0" y2="80" x1="40" x2="40"></line>
              <line
                x1="35"
                x2="45"
                y1="5.714285714285714"
                y2="5.714285714285714"
              ></line>
              <line
                x1="35"
                x2="45"
                y1="17.142857142857142"
                y2="17.142857142857142"
              ></line>
              <line
                x1="35"
                x2="45"
                y1="28.571428571428573"
                y2="28.571428571428573"
              ></line>
              <line x1="35" x2="45" y1="40" y2="40"></line>
              <line
                x1="35"
                x2="45"
                y1="51.42857142857143"
                y2="51.42857142857143"
              ></line>
              <line
                x1="35"
                x2="45"
                y1="62.857142857142854"
                y2="62.857142857142854"
              ></line>
              <line
                x1="35"
                x2="45"
                y1="74.28571428571429"
                y2="74.28571428571429"
              ></line>
            </g>
            <g id="route-3">
              <polyline
                points="0,35 30,35 35,30 35,0"
                transform="rotate(0,40,40)"
                fill="none"
              ></polyline>
              <polyline points="0,45 40,45 45,40 45,0" fill="none"></polyline>
              <polyline
                points="0,40 35,40 40,35 40,0"
                stroke-dasharray="5,7"
                fill="none"
              ></polyline>
            </g>
            <g id="route-4">
              <polyline
                points="0,35 30,35 35,30 35,0"
                transform="rotate(0,40,40)"
                fill="none"
              ></polyline>
              <polyline
                points="0,35 30,35 35,30 35,0"
                transform="rotate(90,40,40)"
                fill="none"
              ></polyline>
              <line x1="0" x2="80" y1="45" y2="45"></line>
              <line
                x1="0"
                x2="80"
                y1="40"
                y2="40"
                stroke-dasharray="5,7"
              ></line>
              <line
                x1="40"
                x2="40"
                y1="0"
                y2="40"
                stroke-dasharray="5,7"
              ></line>
            </g>
            <g id="route-5">
              <line y1="0" y2="80" x1="35" x2="35"></line>
              <line y1="0" y2="80" x1="45" x2="45"></line>
              <line
                y1="0"
                y2="80"
                x1="40"
                x2="40"
                stroke-dasharray="5,7"
              ></line>
            </g>
            <g id="route-6">
              <line y1="0" y2="80" x1="35" x2="35"></line>
              <line y1="0" y2="80" x1="45" x2="45"></line>
              <line
                y1="0"
                y2="80"
                x1="40"
                x2="40"
                stroke-dasharray="5,7"
              ></line>
              <line x1="0" x2="35" y1="40" y2="40"></line>
              <line x1="45" x2="80" y1="40" y2="40"></line>
              <line
                y1="35"
                y2="45"
                x1="5.714285714285714"
                x2="5.714285714285714"
              ></line>
              <line
                y1="35"
                y2="45"
                x1="17.142857142857142"
                x2="17.142857142857142"
              ></line>
              <line
                y1="35"
                y2="45"
                x1="28.571428571428573"
                x2="28.571428571428573"
              ></line>
              <line
                y1="35"
                y2="45"
                x1="51.42857142857143"
                x2="51.42857142857143"
              ></line>
              <line
                y1="35"
                y2="45"
                x1="62.857142857142854"
                x2="62.857142857142854"
              ></line>
              <line
                y1="35"
                y2="45"
                x1="74.28571428571429"
                x2="74.28571428571429"
              ></line>
            </g>
            <g id="route-7">
              <g transform="rotate(0,40,40)">
                <line y1="0" y2="40" x1="40" x2="40"></line>
                <line
                  x1="35"
                  x2="45"
                  y1="5.714285714285714"
                  y2="5.714285714285714"
                ></line>
                <line
                  x1="35"
                  x2="45"
                  y1="17.142857142857142"
                  y2="17.142857142857142"
                ></line>
                <line
                  x1="35"
                  x2="45"
                  y1="28.571428571428573"
                  y2="28.571428571428573"
                ></line>
              </g>
              <rect
                height="10"
                width="10"
                transform="translate(35, 35)"
                fill="currentColor"
              ></rect>
              <g transform="rotate(180,40,40)">
                <line y1="0" y2="35" x1="35" x2="35"></line>
                <line y1="0" y2="35" x1="45" x2="45"></line>
                <line
                  y1="0"
                  y2="35"
                  x1="40"
                  x2="40"
                  stroke-dasharray="5,7"
                ></line>
              </g>
            </g>
            <g id="route-8">
              <g transform="rotate(0,40,40)">
                <line y1="0" y2="40" x1="40" x2="40"></line>
                <line
                  x1="35"
                  x2="45"
                  y1="5.714285714285714"
                  y2="5.714285714285714"
                ></line>
                <line
                  x1="35"
                  x2="45"
                  y1="17.142857142857142"
                  y2="17.142857142857142"
                ></line>
                <line
                  x1="35"
                  x2="45"
                  y1="28.571428571428573"
                  y2="28.571428571428573"
                ></line>
              </g>
              <rect
                height="10"
                width="10"
                transform="translate(35, 35)"
                fill="currentColor"
              ></rect>
              <g transform="rotate(270,40,40)">
                <line y1="0" y2="35" x1="35" x2="35"></line>
                <line y1="0" y2="35" x1="45" x2="45"></line>
                <line
                  y1="0"
                  y2="35"
                  x1="40"
                  x2="40"
                  stroke-dasharray="5,7"
                ></line>
              </g>
            </g>
            <g id="route-9">
              <rect
                height="10"
                width="10"
                transform="translate(35, 35)"
                fill="currentColor"
              ></rect>
              <g transform="rotate(0,40,40)">
                <line y1="0" y2="35" x1="35" x2="35"></line>
                <line y1="0" y2="35" x1="45" x2="45"></line>
                <line
                  y1="0"
                  y2="35"
                  x1="40"
                  x2="40"
                  stroke-dasharray="5,7"
                ></line>
              </g>
              <g transform="rotate(90,40,40)">
                <line y1="0" y2="35" x1="35" x2="35"></line>
                <line y1="0" y2="35" x1="45" x2="45"></line>
                <line
                  y1="0"
                  y2="35"
                  x1="40"
                  x2="40"
                  stroke-dasharray="5,7"
                ></line>
              </g>
              <g transform="rotate(180,40,40)">
                <line y1="0" y2="40" x1="40" x2="40"></line>
                <line
                  x1="35"
                  x2="45"
                  y1="5.714285714285714"
                  y2="5.714285714285714"
                ></line>
                <line
                  x1="35"
                  x2="45"
                  y1="17.142857142857142"
                  y2="17.142857142857142"
                ></line>
                <line
                  x1="35"
                  x2="45"
                  y1="28.571428571428573"
                  y2="28.571428571428573"
                ></line>
              </g>
              <g transform="rotate(270,40,40)">
                <line y1="0" y2="35" x1="35" x2="35"></line>
                <line y1="0" y2="35" x1="45" x2="45"></line>
                <line
                  y1="0"
                  y2="35"
                  x1="40"
                  x2="40"
                  stroke-dasharray="5,7"
                ></line>
              </g>
            </g>
            <g id="route-10">
              <g>
                <rect
                  height="10"
                  width="10"
                  transform="translate(35, 35)"
                  fill="currentColor"
                ></rect>
                <g transform="rotate(0,40,40)">
                  <line y1="0" y2="35" x1="35" x2="35"></line>
                  <line y1="0" y2="35" x1="45" x2="45"></line>
                  <line
                    y1="0"
                    y2="35"
                    x1="40"
                    x2="40"
                    stroke-dasharray="5,7"
                  ></line>
                </g>
                <g transform="rotate(90,40,40)">
                  <line y1="0" y2="40" x1="40" x2="40"></line>
                  <line
                    x1="35"
                    x2="45"
                    y1="5.714285714285714"
                    y2="5.714285714285714"
                  ></line>
                  <line
                    x1="35"
                    x2="45"
                    y1="17.142857142857142"
                    y2="17.142857142857142"
                  ></line>
                  <line
                    x1="35"
                    x2="45"
                    y1="28.571428571428573"
                    y2="28.571428571428573"
                  ></line>
                </g>
                <g transform="rotate(180,40,40)">
                  <line y1="0" y2="40" x1="40" x2="40"></line>
                  <line
                    x1="35"
                    x2="45"
                    y1="5.714285714285714"
                    y2="5.714285714285714"
                  ></line>
                  <line
                    x1="35"
                    x2="45"
                    y1="17.142857142857142"
                    y2="17.142857142857142"
                  ></line>
                  <line
                    x1="35"
                    x2="45"
                    y1="28.571428571428573"
                    y2="28.571428571428573"
                  ></line>
                </g>
                <g transform="rotate(270,40,40)">
                  <line y1="0" y2="40" x1="40" x2="40"></line>
                  <line
                    x1="35"
                    x2="45"
                    y1="5.714285714285714"
                    y2="5.714285714285714"
                  ></line>
                  <line
                    x1="35"
                    x2="45"
                    y1="17.142857142857142"
                    y2="17.142857142857142"
                  ></line>
                  <line
                    x1="35"
                    x2="45"
                    y1="28.571428571428573"
                    y2="28.571428571428573"
                  ></line>
                </g>
              </g>
            </g>
            <g id="route-11">
              <polyline
                points="0,35 30,35 35,30 35,0"
                transform="rotate(0,40,40)"
                fill="none"
              ></polyline>
              <polyline
                points="0,35 30,35 35,30 35,0"
                transform="rotate(90,40,40)"
                fill="none"
              ></polyline>
              <polyline
                points="0,35 30,35 35,30 35,0"
                transform="rotate(180,40,40)"
                fill="none"
              ></polyline>
              <polyline
                points="0,35 30,35 35,30 35,0"
                transform="rotate(270,40,40)"
                fill="none"
              ></polyline>
              <line
                x1="0"
                x2="80"
                y1="40"
                y2="40"
                stroke-dasharray="5,7"
              ></line>
              <line
                y1="0"
                y2="80"
                x1="40"
                x2="40"
                stroke-dasharray="5,7"
              ></line>
            </g>
            <g id="route-12">
              <line y1="0" y2="80" x1="40" x2="40"></line>
              <line x1="0" x2="80" y1="40" y2="40"></line>
              <line
                y1="35"
                y2="45"
                x1="5.714285714285714"
                x2="5.714285714285714"
              ></line>
              <line
                y1="35"
                y2="45"
                x1="17.142857142857142"
                x2="17.142857142857142"
              ></line>
              <line
                y1="35"
                y2="45"
                x1="28.571428571428573"
                x2="28.571428571428573"
              ></line>
              <line
                y1="35"
                y2="45"
                x1="51.42857142857143"
                x2="51.42857142857143"
              ></line>
              <line
                y1="35"
                y2="45"
                x1="62.857142857142854"
                x2="62.857142857142854"
              ></line>
              <line
                y1="35"
                y2="45"
                x1="74.28571428571429"
                x2="74.28571428571429"
              ></line>
              <line
                x1="35"
                x2="45"
                y1="5.714285714285714"
                y2="5.714285714285714"
              ></line>
              <line
                x1="35"
                x2="45"
                y1="17.142857142857142"
                y2="17.142857142857142"
              ></line>
              <line
                x1="35"
                x2="45"
                y1="28.571428571428573"
                y2="28.571428571428573"
              ></line>
              <line
                x1="35"
                x2="45"
                y1="51.42857142857143"
                y2="51.42857142857143"
              ></line>
              <line
                x1="35"
                x2="45"
                y1="62.857142857142854"
                y2="62.857142857142854"
              ></line>
              <line
                x1="35"
                x2="45"
                y1="74.28571428571429"
                y2="74.28571428571429"
              ></line>
            </g>
            <g id="route-13">
              <rect
                height="10"
                width="10"
                transform="translate(35, 35)"
                fill="currentColor"
              ></rect>
              <g transform="rotate(0,40,40)">
                <line y1="0" y2="35" x1="35" x2="35"></line>
                <line y1="0" y2="35" x1="45" x2="45"></line>
                <line
                  y1="0"
                  y2="35"
                  x1="40"
                  x2="40"
                  stroke-dasharray="5,7"
                ></line>
              </g>
              <g transform="rotate(90,40,40)">
                <line y1="0" y2="40" x1="40" x2="40"></line>
                <line
                  x1="35"
                  x2="45"
                  y1="5.714285714285714"
                  y2="5.714285714285714"
                ></line>
                <line
                  x1="35"
                  x2="45"
                  y1="17.142857142857142"
                  y2="17.142857142857142"
                ></line>
                <line
                  x1="35"
                  x2="45"
                  y1="28.571428571428573"
                  y2="28.571428571428573"
                ></line>
              </g>
              <g transform="rotate(180,40,40)">
                <line y1="0" y2="40" x1="40" x2="40"></line>
                <line
                  x1="35"
                  x2="45"
                  y1="5.714285714285714"
                  y2="5.714285714285714"
                ></line>
                <line
                  x1="35"
                  x2="45"
                  y1="17.142857142857142"
                  y2="17.142857142857142"
                ></line>
                <line
                  x1="35"
                  x2="45"
                  y1="28.571428571428573"
                  y2="28.571428571428573"
                ></line>
              </g>
              <g transform="rotate(270,40,40)">
                <line y1="0" y2="35" x1="35" x2="35"></line>
                <line y1="0" y2="35" x1="45" x2="45"></line>
                <line
                  y1="0"
                  y2="35"
                  x1="40"
                  x2="40"
                  stroke-dasharray="5,7"
                ></line>
              </g>
            </g>
            <g id="route-14">
              <rect
                height="10"
                width="10"
                transform="translate(35, 35)"
                fill="currentColor"
              ></rect>
              <g transform="rotate(0,40,40)">
                <line y1="0" y2="35" x1="35" x2="35"></line>
                <line y1="0" y2="35" x1="45" x2="45"></line>
                <line
                  y1="0"
                  y2="35"
                  x1="40"
                  x2="40"
                  stroke-dasharray="5,7"
                ></line>
              </g>
              <g transform="rotate(90,40,40)">
                <line y1="0" y2="40" x1="40" x2="40"></line>
                <line
                  x1="35"
                  x2="45"
                  y1="5.714285714285714"
                  y2="5.714285714285714"
                ></line>
                <line
                  x1="35"
                  x2="45"
                  y1="17.142857142857142"
                  y2="17.142857142857142"
                ></line>
                <line
                  x1="35"
                  x2="45"
                  y1="28.571428571428573"
                  y2="28.571428571428573"
                ></line>
              </g>
              <g transform="rotate(180,40,40)">
                <line y1="0" y2="35" x1="35" x2="35"></line>
                <line y1="0" y2="35" x1="45" x2="45"></line>
                <line
                  y1="0"
                  y2="35"
                  x1="40"
                  x2="40"
                  stroke-dasharray="5,7"
                ></line>
              </g>
              <g transform="rotate(270,40,40)">
                <line y1="0" y2="40" x1="40" x2="40"></line>
                <line
                  x1="35"
                  x2="45"
                  y1="5.714285714285714"
                  y2="5.714285714285714"
                ></line>
                <line
                  x1="35"
                  x2="45"
                  y1="17.142857142857142"
                  y2="17.142857142857142"
                ></line>
                <line
                  x1="35"
                  x2="45"
                  y1="28.571428571428573"
                  y2="28.571428571428573"
                ></line>
              </g>
            </g>
          </defs>
          <g id="drawn-routes">
            <use
              href="#route-0"
              stroke-width="1"
              transform="
        translate(0,1),
        rotate(0, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-3"
              stroke-width="1"
              transform="
        translate(0,3),
        rotate(0, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-1"
              stroke-width="1"
              transform="
        translate(0,0),
        rotate(90, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-8"
              stroke-width="1"
              transform="
        translate(0,2),
        rotate(270, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-4"
              stroke-width="1"
              transform="
        translate(1,6),
        rotate(90, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-0"
              stroke-width="1"
              transform="
        translate(0,5),
        rotate(0, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-4"
              stroke-width="1"
              transform="
        translate(1,5),
        rotate(90, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-8"
              stroke-width="1"
              transform="
        translate(0,4),
        rotate(180, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-2"
              stroke-width="1"
              transform="
        translate(3,0),
        rotate(0, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-5"
              stroke-width="1"
              transform="
        translate(2,5),
        rotate(90, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-5"
              stroke-width="1"
              transform="
        translate(2,6),
        rotate(90, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-7"
              stroke-width="1"
              transform="
        translate(3,1),
        rotate(0, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-5"
              stroke-width="1"
              transform="
        translate(3,2),
        rotate(0, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-2"
              stroke-width="1"
              transform="
        translate(6,1),
        rotate(90, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-3"
              stroke-width="1"
              transform="
        translate(1,4),
        rotate(270, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-6"
              stroke-width="1"
              transform="
        translate(1,0),
        rotate(0, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-5"
              stroke-width="1"
              transform="
        translate(1,1),
        rotate(0, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-1"
              stroke-width="1"
              transform="
        translate(2,0),
        rotate(0, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-5"
              stroke-width="1"
              transform="
        translate(1,2),
        rotate(0, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-8"
              stroke-width="1"
              transform="
        translate(1,3),
        rotate(90, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-5"
              stroke-width="1"
              transform="
        translate(3,3),
        rotate(0, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-1"
              stroke-width="1"
              transform="
        translate(2,3),
        rotate(0, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-1"
              stroke-width="1"
              transform="
        translate(2,2),
        rotate(90, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-6"
              stroke-width="1"
              transform="
        translate(2,1),
        rotate(90, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-2"
              stroke-width="1"
              transform="
        translate(5,1),
        rotate(90, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-5"
              stroke-width="1"
              transform="
        translate(3,4),
        rotate(0, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-0"
              stroke-width="1"
              transform="
        translate(4,1),
        rotate(90, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-7"
              stroke-width="1"
              transform="
        translate(4,0),
        rotate(180, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-0"
              stroke-width="1"
              transform="
        translate(6,5),
        rotate(90, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-1"
              stroke-width="1"
              transform="
        translate(6,4),
        rotate(90, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-7"
              stroke-width="1"
              transform="
        translate(5,0),
        rotate(180, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-3"
              stroke-width="1"
              transform="
        translate(3,5),
        rotate(0, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-4"
              stroke-width="1"
              transform="
        translate(5,6),
        rotate(90, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-6"
              stroke-width="1"
              transform="
        translate(3,6),
        rotate(90, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-8"
              stroke-width="1"
              transform="
        translate(4,6),
        rotate(0, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-4"
              stroke-width="1"
              transform="
        translate(5,5),
        rotate(90, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-4"
              stroke-width="1"
              transform="
        translate(5,4),
        rotate(90, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-4"
              stroke-width="1"
              transform="
        translate(5,3),
        rotate(90, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-6"
              stroke-width="1"
              transform="
        translate(4,5),
        rotate(90, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-5"
              stroke-width="1"
              transform="
        translate(5,2),
        rotate(0, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-1"
              stroke-width="1"
              transform="
        translate(4,4),
        rotate(90, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-1"
              stroke-width="1"
              transform="
        translate(4,3),
        rotate(90, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-7"
              stroke-width="1"
              transform="
        translate(4,2),
        rotate(180, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
            <use
              href="#route-5"
              stroke-width="1"
              transform="
        translate(6,6),
        rotate(90, 0.5, 0.5),
        scale(0.0125)
      "
            ></use>
          </g>
        </svg>
        <div class="flex flex-col items-center">
          <div class="grid grid-cols-2 gap-4">
            <button class="p-2 rounded-lg bg-green-200">Roll Dice</button>
            <div class="flex justify-center items-center">
              Round 1
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
